:root {
    --primary-color: #6c36b3;
    --secondar-color: hsl(180, 80%, 67%);
    --top-padding: 30px;
    --right-padding: 15px;
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
  background-color: aliceblue;
 }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }

  p {
    padding-bottom: 15px;
  }
  .primary-content {
    max-width: 1028px;
    margin: 0 auto;
  }

  /* HEADER / NAV BAR STYLES START */
  
  header {
    background-color: var(--primary-color); 
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky; /*Safari support*/
    position: sticky;
    top: 0;
    z-index: 9999; /*Stack order top*/
  }
  
  header h1 {
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
  }
  
  header a {
    text-decoration: underline;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {   
    color: var(--secondar-color);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
/* HEADER / NAV BAR STYLES END */

/* Hero / Headshot STYLES START */
  .hero {
    display: flex;
    background-image: url(../images/hero-image.jpg);
  }

  .hero img {
    width: auto;
    max-height: 275px;
  }
/* Hero / Headshot STYLES END */

   .primary-sections {
    display: flex;
    width: 100%;
    margin: 0 auto;
  } 

  .section-title {
    flex: 0 0 20%;
    border-right: var(--primary-color) solid;
    padding-right: var(--right-padding);
    margin-top: 26px;
    margin-right: 25px;
    color: var(--primary-color);
    text-align: right;
    font-size: 1.7em;
 }

/* About STYLES START */ 
  .about article {  
    padding-right: var(--right-padding); 
    padding-top: var(--top-padding);  
  } 
/* About STYLES END */

/* Projects STYLES START */
  .projects {
    display: flex; 
    flex-wrap: wrap;
  }
  
  .primary-project {
    padding-top: var(--top-padding);     
    padding-right: var(--right-padding); 
    flex: 0 0 100%;
  }

  .projects img {
    max-width: 100%;
    height: auto;
    border: var(--secondar-color) solid;
  }

  .secondary-projects {
    padding-top: var(--top-padding);     
    padding-right: var(--right-padding); 
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
  }

  .project {
    flex: 0 0 45%;
  }

  .project-title h3 {
    font-size: 28px;
  }
  
  .project-subtitle h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
  }
  /* Projects STYLES END */

 /*.contacts ul {  */
 ul.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex: 0 0 60%;
    padding-top: var(--top-padding);   
  }
  
  .contacts a {
    text-decoration: underline;
  }

  /* UTILITIES */ 
  .flex-row {
    display: flex;
  }

  @media screen and (max-width: 980px) {
    header {
      position: relative;
      padding-bottom: 0;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer {
      text-align: center;
      width: 100%;
    }
  }
    
/* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 830px) {
    .primary-sections {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
    } 

    .section-title {
      flex: 0 0 100%;
      padding-top: 15px;
      padding-left: 0;
      text-align: right;
    }

    .primary-project img{
      min-width: 300px;
    }

    .secondary-projects {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .project img{
      min-width: 200px;
    }

    ul.contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      flex: 0 0 100%;
      padding-top: var(--top-padding);   
    }
    
  }
  
 
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    
  

}