:root {
    --primary-color: #b239a8;
    --secondary-color: #179191;
    --tertiary-color: #6c36b3;
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

  .primary-content {
    max-width: 1028px;
    margin: 0 auto;
  }

  /* HEADER / NAV BAR STYLES START */
  
  header {
    background-color: #6c36b3;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky; /*Safari support*/
    position: sticky;
    top: 0;
    z-index: 9999; /*Stack order top*/
  }
  
  header h1 {
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
  }
  
  header a {
    text-decoration: none;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {   
    color: white;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
/* HEADER / NAV BAR STYLES END */

/* Hero / Headshot STYLES START */
  .hero {
    display: flex;
    background-image: url(../images/hero-image.jpg);
  }

  .hero img {
    width: auto;
    max-height: 275px;
  }
/* Hero / Headshot STYLES END */

  
  /* FOOTER STYLES START */
  footer {
    background-color: #6c36b3;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    /* try to use flex-basis to shorten gap beteen title and links*/
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {  
    color: white;
    font-size: 30px;
    margin: 0;
  }
  
  footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  footer ul li a {  
    color: white;
    padding: 10px 15px;
    font-weight: lighter;
  }
   /* FOOTER STYLES END */

   .section-title {
    width: 35%;
  }

  .section-title h2 {
    margin-right: 100%;
    width: max-content;
 }

  .primary-sections {
    padding: 15px 0;
    display: flex;
    width: 100%;
    margin: 0 auto;
  } 

/* About STYLES START */
  
  /* About STYLES END */

  /* Projects STYLES START */
  

  .projects {
    display: block;
  }
  .project {
    flex: 1;
  }
  
  .project img {
    max-width: 345px;
    height: auto;
  }
 
  .primary-project img {
   /*.project:first-child img{*/
    max-width: 700px;
    height: auto;
  }

  .secondary-projects {
    display: flex;
    justify-content: space-between; /*not having any affect?*/
  }

  .project-title h3 {
    font-size: 28px;
  }
  
  .project-subtitle h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
  }
  /* Projects STYLES END */

  /* UTILITIES */ 
  .flex-row {
    display: flex;
  }

  @media screen and (max-width: 980px) {
    header {
      position: relative;
      padding-bottom: 0;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer {
      text-align: center;
      width: 100%;
    }
  }
    
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
  .hero img {
    width: 100%;
  }

  .secondary-projects {
    flex-flow: column;
    align-items: center;
  }

}